fastapi==0.125.0
uvicorn[standard]==0.38.0
pydantic==2.12.5
scikit-learn==1.8.0
nltk
numpy==2.4.4
pandas
datasets
huggingface-hub
scipy==1.17.1
joblib==1.5.3
python-multipart
jinja2
aiofiles
tqdm
colorama
google-generativeai
